/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: white;
  overflow-x: hidden;
  position: relative;
}

html {
  color: black;
  font-size: 62.5%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

/* App.js */
.App {
  text-align: center;
  padding: 0% 2% 3% 2%;
}

/* Nav.js */
.active {
  border-radius: 5px;
  background: slategrey;
}

.allNavLinks {
  transition: all 0.3s ease;
  width: 100%;
  padding: 1.25% 0%;
}

.allNavLinks:hover {
  border-radius: 5px;
  background: lightgrey;
}

header {
  background: black;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 3.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 35px slategrey;
}

/* Footer.js */
footer {
  margin-top: 3%;
}

/* Home.js */
.homeMainBox {
  height: 75vh;
  border: 1px solid transparent;
  margin: 0 auto;
}

.homeText {
  margin: 25% auto;
}

.movingRectangle {
  will-change: width, height, left, top;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

/* About.js & ImageDisplay.js */
.aboutText {
  padding: 0% 3%;
}

.imageFrame {
  border: 15px outset silver;
  border-radius: 5px;
  background: black;
  margin: 2.5% auto;
  box-shadow: 0px 10px 30px -5px slategrey;
  width: 85%;
}

.slideShowImages {
  width: auto;
}

.imageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #2b2b2b;
}

.arrowNav {
  transition: all 0.3s ease;
  margin: 1%;
  padding: 1px 5px;
  background: lightgrey;
  border-radius: 5px;
}

.arrowNav:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}

/* Work.js */
.workMainBox {
  margin: 0 auto;
}

.workProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.workCard {
  border: 1px solid white;
  background: white;
  border-radius: 15px;
  margin: 5% 3% 5% 3%;
  width: 55%;
  padding: 1%;
  cursor: pointer;
  box-shadow: 0px 10px 30px -5px darkgrey;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.workCard:hover {
  box-shadow: 0px 30px 100px -10px slategrey;
}

@media (max-width: 1400px) {
  .workCard {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .workCard {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .workCard {
    width: 85%;
  }
}

.sizingImg {
  width: 100%;
  border-radius: 15px;
}

.workCardText {
  padding: 1% 2%;
}

.projectIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectLink {
  margin: 1%;
  transition: all 0.3s ease;
  padding: 8px 20px;
  background: lightgrey;
  border-radius: 5px;
  width: 48%;
}

.projectLink:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}

.githubBtn {
  margin: 2% auto;
  transition: all 0.3s ease;
  padding: 5px 10px;
  background: lightgrey;
  border-radius: 5px;
  width: 50px;
}

.githubBtn:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}

.animationSwitch {
  margin: 3% auto;
  padding: 5px 10px;
  border-radius: 5px;
  width: 300px;
  background: lightgrey;
  transition: all 0.3s ease;
}

.animationSwitch:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}

/* Skill.js */
.skillMainBox {
  /* border: px solid green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}

.skillCard {
  /* border: 1px solid blue; */
  margin: 3% 5%;
  padding: 1.5%;
  background: grey;
  border-radius: 10px;
  border-style: double;
  color: white;
}

.coreLang {
  margin-top: 2%;
  color: grey;
}

/* Chart.js */
.chart {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .chart {
    display: none;
  }
}

/* Contact.js */
.contactForm {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sendForm {
  margin-top: 2%;
  transition: all 0.3s ease;
  padding: 8px 20px;
  background: lightgrey;
  border-radius: 5px;
}

.sendForm:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}

/* ^^^^ CONTACT FORM COMING SOON */

.contactMainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactEmailBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  transition: all 0.3s ease;
  padding: 5px 10px;
  background: lightgrey;
  border-radius: 5px;
  width: 250px;
}

.contactEmailBtn:hover {
  cursor: pointer;
  border-radius: 5px;
  background: slategrey;
}
