@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

html {
  color: #ffffff;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 21px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

.cornerTag {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1%;
}

/* App.js */
.App {
  text-align: left;
}

/* Nav.js */
.allLinks {
  color: #000000;
  font-style: normal;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  padding: 1%;
}

.allLinks:hover {
  border-radius: 5px;
  background: dimgrey;
  color: white;
}

nav {
  text-align: center;
  background: #e5e5e5;
  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 20px #000000;
  margin: 1.5% auto;
  padding: 0.25%;
  width: 50%;
  z-index: 1;
  position: fixed;
}

#myNav {
  display: flex;
  justify-content: center;
}

/* Footer.js */
footer {
  color: #000000;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
}

/* Home.js */
#home {
  padding-top: 8%;
}

.homeMainBox {
  margin: 0 auto;
  background: #b57272;
  width: 1250px;
  height: 750px;
}

.homeContent {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeContentLeft {
  padding: 3%;
  width: 50%;
}

.homeContentLeft h2 {
  margin: 10% 0%;
}

.myself {
  width: 250px;
  margin: 0 auto;
}

.homeContentRight {
  padding: 3%;
  width: 38%;
}

.homeContactBtn {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.homeContactBtn button {
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: none;
  width: 250px;
  height: 30px;
}

/* Work.js */
#work {
  padding-top: 8%;
}

.workMainBox {
  margin: 0 auto;
  background: #b59a72;
  width: 1250px;
  height: 750px;
}

.workContent {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.workCard {
  width: 43%;
}

.workCardImage {
  width: auto;
}

.workCardBtn {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.workCardBtn button {
  background: none;
  color: white;
  border: 1px solid #ffffff;
  width: 250px;
  height: 30px;
}

/* Skill.js */
#skill {
  padding-top: 8%;
}

.skillMainBox {
  margin: 0 auto;
  background: #a3b572;
  width: 1250px;
  height: 750px;
}

.skillContent {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 0 15% 0;
}

.skillNavPlacement {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.skillNav {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillNavBtn {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  width: 100%;
  padding: 1.5%;
  cursor: pointer;
  text-align: center;
  border-bottom-color: #8e8e8e;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.skillNavBtnActive {
  border-bottom-color: #ffffff;
  transition: 0.75s ease;
}

.skillDisplayPlacement {
  display: flex;
  justify-content: center;
}

.skillDisplayRevealText {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 28px;
  padding: 2%;
}

.skillDisplayHideText {
  display: none;
}

.skillResumeBtn {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.skillResumeBtn button {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: none;
  width: 250px;
  height: 30px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
}

/* Story.js */
#story {
  padding-top: 8%;
}

.storyMainBox {
  margin: 0 auto;
  background: #d5ca69;
  width: 1250px;
  height: 750px;
}

.storyContent {
  border: 1px solid blue;
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.storyText {
  border: 1px solid red;
  width: 75%;
  padding: 3%;
}

.storyImg {
  border: 1px solid green;
}

/* Contact.js */
#contact {
  padding-top: 8%;
}

.contactMainBox {
  margin: 0 auto;
  background: #72a5b5;
  width: 1250px;
  height: 750px;
}

.contactContent {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactInfoPlacement {
  margin: 2%;
  width: 750px;
  height: 75px;
  background: #8e8e8e;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.contactInfoPlacement p {
  width: 100%;
  text-align: center;
}

.contactIcon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e4e4;
}
